body {
  background-color: #2B2927;
  font-family: helvetica;
	font-weight: lighter;
	overflow-x: hidden;
	z-index: 1;
}

.pure-menu-horizontal {
	text-align: center;
		font-size: 1em;
}

.pure-menu-heading {
	color: #2B2927;
font-size: 2em;
	padding: 0;
	text-transform: lowercase;
}

.buttoncreate {
	background-image: url('images/breaddit_logo.png') no-repeat;
	position: fixed;
	right:.25em;
	bottom: .25em;
	width: 2em;
	height: 2em;
  cursor:pointer;
	border: 0;
	padding: 0;
	margin-top: 0;
}

.logo-header {
	top: 1em;
	height: 4em;
}

.flatbutton {
	padding: 0;
	border: 0;
	background: transparent;;
}

.contentspacer {
	height: .5em;
}

.spacer {
	height:3.75em;
}

a:link {
	color: #2B2927;
	text-decoration: none;
}

a:hover {
	color: #2B2927;
	text-decoration: none;
}
.logo {
	height: 100%;
}

a:visited {
	color: #2B2927;
	text-decoration: none;
}

.loafs {
	background: #2B2927;
	font-family: helvetica;
	font-weight: lighter;
}

.user {
	font-size: .75em;
}

.textarea {
	height: 20em;
}

.commentarea {
	height: 5em;
	width: 12em;
}

.whitetext{
	color: white;
}

.upvote {
	height: 2.2em;
	width: 2.2em;
}

.edit {
	height: 2.6em;
	width: 2.6em;
}

.loafs1 {
	background: #5BC0EB;
}
.loafs0 {
	background: #FDE74C;
}
.loafs2 {
	background: #FA7921;
}
.loafs3 {
	background: #E55934;
}
.loafs4 {
	background: #9BC53D;
}

.navigation {
    list-style: none;
    background: #2B2927;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.nav-trigger {
    position: fixed;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    bottom: 1.2em;
    right: 1.2em;
    z-index: 2;
    width: 3.4em;
    height: 3.4em;
    cursor: pointer;
    background-image: url("/images/breaddit_logo.png");
    background-size: 4em;
}

.nav-trigger:checked + label {
    right: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    right: 200px;
}

.nav-trigger + label, .site-wrap {
    transition: right 0.2s;
}

.loaf-title {
	text-align: left;
	font-size: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media all and (max-width:768px) {
	body {
		font-size: 200em;
	}
}
