<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Apollo</title>
  <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
    <p class="logo">Thanks</p>
    <p class="slogan1">You'll be hearing from us soon!</p>
</body>
</html>