h1{
	color: red;
	font-size: 150%;
}

.card{
	height: 100px;
	position: relative;

}

.hidden{
	display: none;
}

.dealerCards{
	display: none;
}

.upcard{
	height: 100px;
}

.downcard{
	height: 100px;
	background-image: 
}

.playerSecondHand{
	display: none;
}

.secondHandButtons{
	display: none;
}

#split{
	display: none;
}