body{
	background-color: #376532
}
.container{
	margin-left: 50%;
	left: -150px;
}

.card{
	height: 100px;

}

.hidden{
	display: none;
}

.dealerCards{
	display: none;
}

.upcard{
	height: 100px;
}

.downcard{
	height: 100px;
	background-image: 
}

.playerSecondHand{
	display: none;
}

.secondHandButtons{
	display: none;
}

#split{
	display: none;
}

.errmsg{
	position: absolute;
	width: 100%;
	font-size: 15vw;
	text-align: center;
	top: 25%;
}

.dealerStarterCards{
	display: inline;
}

.hit, .stand, .doubleDown, .restart{
	display: none;
}

.playercards{
}

.button{
	
}