<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="/bread_pure.css">
  <title>Loaf</title>
  </head>
		<body class="loafs4">
    	<a href="/loafs">
				<img class="pure-img logo-header" src='/images/breaddit_logo_full.png'>
			</a>
			<form class="pure-form pure-form-aligned pure-form-stacked" action="/loafs/<%= loaf.id %>?_method=PUT" method="POST">
				<fieldset class="pure-group">
				<label for="title">Title:</label>
						<input class="pure-input-1-2" id="title" type="text" name="title" value="<%= loaf.title %>">
						<label for="content">Content:</label>
						<textarea class="pure-input-1-2 textarea" id="content" type="text" name="content"><%= loaf.content %></textarea>
				<button class="pure-button pure-button-primary">Bake!</button>
			</form>
			<form class="pure-form pure-form-aligned " action="/loafs/<%= loaf.id %>?_method=DELETE" method="POST">
					<button class="pure-button pure-button-primary">Burn it!</button>
				</form>
				</fieldset>
	</body>
</html>