<!DOCTYPE html>
<html>
<head>
	<title>Breaddit</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="/bread_pure.css">
</head>
<body>

<div class="header">
	<div class="pure-menu-horizontal pure-menu-fixed">
		<form class="pure-menu-list" action="/loafs/new" method="GET">
		<button  class="button-create">+</button>
	</form>
<div class="pure-menu-heading">breaddit</div>
	</div>
	</div>
	<div class="pure-g">
		<div class="pure-u-1-6 spacer">
   	</div>
	</div>
	<% loafs.forEach(function(loafs){ %>

	<div class="pure-g">
    <div class="pure-u-1-6">
   	</div>
    <a href="/loafs/<%=loafs.id%>" class="pure-u-2-3 loafs">
    	<div class="pure-g">
    		<div class="pure-u-1-12 vote-box">
    			<div class="">
    			</div>
    			<div class="pure-g">
    			<div class="pure-u-3-8 vote-count"><%= loafs.votes %>
    			</div>
    			<div class="pure-u-5-8">
    			</div>
    			<div class="pure-u-3-8 vote-count">
						<%= JSON.stringify(slices[loafs.id]) %>
					</div>
					<div class="pure-u-5-8"></div>
    			</div>
    			<div class=""></div>
    		</div>
    		<div class="pure-u-1-12">
    	</div>
    	<div class="pure-u-7-8 loaf-title">
    		 <%= loafs.title %>
    	</div>
			</div></a>
</div>




	
		<% }) %>

	


</body>
</html>